<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maoxian.mapper.UserMapper">
  <resultMap id="resultUser" type="com.maoxian.common.User">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="password" column="password"/>
    <result property="salt" column="salt"/>
    <result property="phone" column="phone"/>
    <result property="email" column="email"/>
    <result property="isdelete" column="isdelete"/>
  </resultMap>
  <sql id="user">
    SELECT * FROM USER
  </sql>
  <select id="findUser" resultMap="resultUser" resultType="com.maoxian.common.User" parameterType="java.lang.String">
    <include refid="user"/>
    <where>
      <if test="id != null">
        AND id = ${id}
      </if>
    </where>
  </select>

  <update id="setUser" parameterType="com.maoxian.common.User">
    UPDATE USER SET
    name = ${user.name},
    password = ${user.password},
    salt = ${user.salt},
    phone = ${user.phone},
    email = ${user.email},
    isdelete = ${user.isdelete}
  </update>

</mapper>
